@import 'normalize.css';

:root {
  --header-height: 64px;

  --primary: #0194f3;

  --white: #fff;
  --black: #000;
  --text-color: #333;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--text-color);
}


button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  /* color: var(--text-color); */
}

i.fas {
  color: var(--text-color);
}
